.page {
  height: 100vh;
  color: #f9f8f8;
  max-width: 1280px;
  min-width: 422px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  letter-spacing: 1px;
}

.page__mobile-profile {
  display: none;
}

.page__mobile-navigation {
  display: none;
}

.page__mobile-profile-image {
  display: none;
}

@media screen and (width < 722px){
  .page {
    flex-direction: column;
    background-color: black;
    position: relative;
  }
  .page__mobile-profile {
    display: flex;
    border-bottom: 1px solid #f9f8f8;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black;
  }
  
  .page__mobile-navigation {
    display: flex;
    justify-content: space-around;
    background-color: #2E3130;
    position: sticky;
    bottom: 0;
  }
  
  .page__mobile-navigation-icon{
    transition: scale .2s ease-in-out;
  }
  
  .page__mobile-navigation-icon:hover {
    cursor: pointer;
    scale: 1.1;
  }
  
  .page__mobile-profile-image{
    position: absolute;
    right: 15px;
    width: 100px;
    display: inline-block;
  }
}