@import url(../blocks/page.css);
@import url(../blocks/sidebar.css);
@import url(../blocks/content.css);
@import url(../blocks/paycheck.css);
@import url(../blocks/recent-purchases.css);
@import url(../blocks/quick-access.css);
@import url(../blocks/purchases.css);
@import url(../blocks/pay-period.css);
@import url(../blocks/coming-soon.css);
@import url(../blocks/modal.css);
@import url(../blocks/add-expense.css);

@font-face {
  font-family: 'Inter';
  src: url(../vendor/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html {
  background-color: #2E3130;
  font-family: 'Inter';
}

@media screen and (width < 722px){
  body {
  position: fixed;
  }
}

